<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<div id="header">
    <img src="../static/images/camera@3x.png.">
    <img id="logo" src="../static/images/insta-logo.png">
    <img src="../static/images/dm@3x.png">
</div>
<div class="container">
    <div id="story_list">
        <div class="story">
            <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            <p>내 스토리</p>
        </div>
        <div class="story">
            <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            <p>내 스토리</p>
        </div>
        <div class="story">
            <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            <p>내 스토리</p>
        </div>
        <div class="story">
            <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            <p>내 스토리</p>
        </div>
        <div class="story">
            <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            <p>내 스토리</p>
        </div>
    </div>
    <div id="page">
        <div class="post">
            <div class="user">
                <div class="user_profile">
                    <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
                    <p><b>이용자1</b></p>
                </div>
                <img src="../static/images/more@3x.png">
            </div>
            <div class="user_post">
                <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            </div>
            <div class="post_under">
                <div class="post_icon">
                    <div class="post_3icon">
                        <img src="../static/images/like@3x.png">
                        <img src="../static/images/comment@3x.png">
                        <img src="../static/images/dm@3x.png">
                    </div>
                    <img src="../static/images/favorite@3x.png">
                </div>
                <div>
                    <div class="like">
                        <p><b>이용자1</b>님 외 6,671명이 좋아합니다</p>
                    </div>
                    <div class="comment">
                        <p><b>이용자1</b> 안녕하세요</p>
                    </div>
                    <div class="time">
                        <p>6시간전</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="user">
                <div class="user_profile">
                    <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
                    <p><b>이용자1</b></p>
                </div>
                <img src="../static/images/more@3x.png">
            </div>
            <div class="user_post">
                <img src="https://static.coupangcdn.com/image/vendor_inventory/2582/a6462d825d24e557c52ff142a24b274fecf56676714c8006da7accf47deb.jpg"/>
            </div>
            <div class="post_under">
                <div class="post_icon">
                    <div class="post_3icon">
                        <img src="../static/images/like@3x.png">
                        <img src="../static/images/comment@3x.png">
                        <img src="../static/images/dm@3x.png">
                    </div>
                    <img src="../static/images/favorite@3x.png">
                </div>
                <div>
                    <div class="like">
                        <p><b>이용자1</b>님 외 6,671명이 좋아합니다</p>
                    </div>
                    <div class="comment">
                        <p><b>이용자1</b> 안녕하세요</p>
                    </div>
                    <div class="time">
                        <p>6시간전</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <img src="../static/images/home@3x.png">
    <img src="../static/images/search@3x.png">
    <img src="../static/images/trending@3x.png">
    <img src="../static/images/like@3x.png">
    <img src="../static/images/home@3x.png">
</div>
</body>
</html>
